@font-face {
  font-family: "JetBrains";
  src: url("/fonts/JetBrainsMonoNL-Light.ttf");
}

body {
  padding: 10px;
  font-family: "JetBrains";
  background: black;
  color: antiquewhite;
  text-align: center;
}

.mapa {
  svg {
    width: 35%;
  }
  .mapsvg-region {
    fill: antiquewhite;
    stroke: black;
    stroke-width: 1px;
  }

  .clear {
    color: grey;
    font-size: 0.7em;
    cursor: pointer;
    &:hover {
      color: white;
    }
  }

  //   .mapsvg-region:hover {
  //     fill: black;
  //   }
}
